*{
    margin: 0px;
    padding: 0px;
}

header{
    border: 1px solid black;
    height: 100px;
    width: 100%;
    display: flex;
}

#leftheader{
    width: 40%;
    display: flex;
    align-items: center;
   margin-left:50px;

}


#rightheader{
    width: 60%;
    background: linear-gradient(to right,#E15F4D , #E59550  );
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#wrapper{
    height: 500px;
    border: 1px solid black;
    display: flex;
}


.logo{
    height: 25px;
    width: 60px;
    
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    margin-left: 15px;

}

nav ul li a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.btn{
    width: 180px;
    height: 30px;
    border-radius: 8%;
    border: 1px solid #F76450;
    background-color: #F76450;
    color: white;
    margin-right: 20px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
}